---
didwebvh-server-py:
  ingress:
    annotations:
      route.openshift.io/termination: edge
    tls:
      - secretName: webvh-server-tls
        hosts:
          - registry-dev.digitaltrust.gov.bc.ca
  networkPolicy:
    ingress:
      namespaceSelector:
        network.openshift.io/policy-group: ingress
  server:
    image:
      repository: ghcr.io/decentralized-identity/didwebvh-server-py
      tag: 0.4.5
      pullPolicy: Always
    host: "registry-dev.digitaltrust.gov.bc.ca"
    workers: "4"
    policies:
      webvh_version: "1.0"
      webvh_witness: "true"
      webvh_watcher: ""
      webvh_prerotation: "false"
      webvh_portability: "false"
      webvh_endorsement: "true"
      webvh_known_witness_key: ""
      webvh_known_registry_url: ""

    branding:
      app_name: "BC Gov WebVH Dev"
      app_description: "BC Gov Dev WebVH server deployment."
      app_icon: "https://www2.gov.bc.ca/favicon.ico"
      app_logo: "https://www2.gov.bc.ca/images/BCID_H_rgb_pos.png"
      app_primary_color: "#234075"
      app_secondary_color: "#e3a82b"
      app_accent_color: "#82B1FF"

    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80
      stabilizationWindowSeconds: 300
    resources:
      limits:
        cpu: 250m
        memory: 512Mi
      requests:
        cpu: 50m
        memory: 128Mi
    networkPolicy:
      enabled: true
      ingress:
        enabled: true
        namespaceSelector:
          network.openshift.io/policy-group: ingress
  postgresql:
    commonLabels:
      backup: "true"
      env: dev
    primary:
      persistence:
        size: 5Gi
