name: Uninstall and then re-install Traction Sandbox Instance

on:
  schedule:
    - cron: "0 9 1,15 * *"
  workflow_dispatch:
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - "helm-values/traction/values-sandbox.yaml"

jobs:
  uninstall_sandbox:
    if: (github.repository == 'bcgov/trust-over-ip-configurations') || (github.event_name == 'workflow_dispatch')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Run Your Job
        run: |
          echo "This job runs biweekly on 1st and 15th of every month at 2:00 AM PST"
      
      - name: Install OpenShift CLI tools
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.14"
      - name: Authenticate and set context
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          namespace: ${{ secrets.OPENSHIFT_NAMESPACE_SANDBOX }}

      - name: Uninstall Traction via Helm
        run: |
          helm uninstall traction-sandbox -n ${{ secrets.OPENSHIFT_NAMESPACE_SANDBOX }} --wait --timeout=20m || true

      - name: Remove Traction Openshift Objects
        run: |
          oc delete -n ${{ secrets.OPENSHIFT_NAMESPACE_SANDBOX }} all,secret,pod,networkpolicy,configmap,pvc --selector "app.kubernetes.io/instance"=traction-sandbox

      - name: Uninstall DID WebVH Server via Helm
        run: |
          helm uninstall didwebvh-server-py-sandbox -n ${{ secrets.OPENSHIFT_NAMESPACE_SANDBOX }} --wait --timeout=20m || true

      - name: Remove DID WebVH Server Openshift Objects
        run: |
          oc delete -n ${{ secrets.OPENSHIFT_NAMESPACE_SANDBOX }} all,secret,pod,networkpolicy,configmap,pvc --selector "app.kubernetes.io/instance"=didwebvh-server-py-sandbox

      - name: Rocket.Chat Notification
        uses: RocketChat/Rocket.Chat.GitHub.Action.Notification@1.1.1
        if: always()
        with:
          type: ${{ job.status }}
          job_name: "*Uninstall Traction Sandbox*"
          mention: "here"
          mention_if: "failure"
          channel: "#ditp-gha-notifications"
          url: ${{ secrets.ROCKETCHAT_WEBHOOK }}
          commit: true

  install_sandbox:
    name: Install Sandbox
    if: (github.repository == 'bcgov/trust-over-ip-configurations') || (github.event_name == 'workflow_dispatch')
    needs: uninstall_sandbox
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Run Your Job
        run: |
          echo "This job runs biweekly on 1st and 15th of every month at 2:00 AM PST"
      
      - name: Install OpenShift CLI tools
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.14"

      - name: Authenticate and set context
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          namespace: ${{ secrets.OPENSHIFT_NAMESPACE_SANDBOX }}
      
      - name: Compile banner message
        run: echo "BANNER_MESSAGE=$($GITHUB_WORKSPACE/src/bash/reset-sandbox-date.sh)" >> $GITHUB_ENV

      - name: Install Traction via Helm
        run: |
          helm repo add traction https://bcgov.github.io/traction 
          helm upgrade --install \
          -n ${{ secrets.OPENSHIFT_NAMESPACE_SANDBOX }} --wait --timeout=7m \
          -f ./services/traction/sandbox/values.yaml \
          --set ui.ux.infoBanner.message="${BANNER_MESSAGE}" \
          traction-sandbox traction/traction

      - name: Install DID WebVH Server via Helm
        run: |
          helm repo add didwebvh-server-py ${{ vars.DIDWEBVH_HELM_REPO_URL }}
          helm upgrade --install \
          -n ${{ secrets.OPENSHIFT_NAMESPACE_SANDBOX }} --wait --timeout=7m \
          -f ./services/didwebvh-server-py/sandbox/values.yaml \
          --set ui.ux.infoBanner.message="${BANNER_MESSAGE}" \
          didwebvh-server-py-sandbox didwebvh-server-py/didwebvh-server-py

      - name: Rocket.Chat Notification
        uses: RocketChat/Rocket.Chat.GitHub.Action.Notification@1.1.1
        if: always()
        with:
          type: ${{ job.status }}
          job_name: "*Install Traction Sandbox*"
          mention: "here"
          mention_if: "failure"
          channel: "#ditp-gha-notifications"
          url: ${{ secrets.ROCKETCHAT_WEBHOOK }}
          commit: true
